/* Appropriate styles for dark mode */
.dark {
    background-color: #2d3748; /* Dark background color */
    color: #ffffff; /* Light text color for dark background */
  }
  
  .dark input[type="text"] {
    color: #ffffff; /* Light text color for input fields */
  }
  
  .dark button {
    background-color: #4a5568; /* Dark button background color */
    color: #ffffff; /* Light text color for buttons */
  }
  
  .dark button:hover {
    background-color: #718096; /* Dark button background color on hover */
  }
  